<div class="card">
    <h1>Вход</h1>
    <p class="subtitle">Добро пожаловать обратно!</p>

    <form class="auth-form" action="/login" method="POST">
        <div class="field">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username" placeholder="Введите ваше имя пользователя" required>
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Введите ваш пароль" required>
        </div>
        <div class="row">
            <label class="checkbox-label">
                <input type="checkbox" name="remember"> Запомнить меня
            </label>
            <a href="#" class="forgot">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn-primary">Войти</button>
    </form>

    <div class="auth-switch">
        Нет аккаунта? <a href="/register">Зарегистрироваться</a>
    </div>

    <% if (error) { %>
        <div class="error"><%= error %></div>
    <% } %>
</div>